@page "/search"
@inject HttpClient Http
@rendermode RenderMode.InteractiveServer

<h3>Search</h3>

<InputText @bind-Value="searchingName" @oninput="OnInput"/>

<br />
<br />
<br />
@foreach (MotorcycleDTO MotocycleDetails in foundMotorcycles.OrderBy(x => x.ProductionStartYear))
{
    <BikeDetails motocycle="MotocycleDetails"></BikeDetails>
}

@code {
    string searchingName="";
    MotorcycleDTO[] foundMotorcycles = new MotorcycleDTO[0];

    private async Task OnInput(ChangeEventArgs e)
    {
        if (e.Value.ToString() != "")
        {
            var products = Http.GetAsync("api/Motorcycle/SearchByName?name=" + e.Value.ToString());
            foundMotorcycles = await products.Result.Content.ReadFromJsonAsync<MotorcycleDTO[]>();
        }
    }
}
